body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: black;;
    color: aliceblue;
}

input[type="text"] {
    width: 65%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #f2f2f2;
}
#cryptoTable{
    background-color: black;
    color: #f2f2f2;
}
tr{
    background-color: black;
}